<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2277.86" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="24.2.6" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="24.2.6" targetFramework="net48" />
</packages>